<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.marco.appestudante">
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeLight">
        <activity
            android:name=".MainActivity"
            android:parentActivityName=".Welcome_screen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Welcome_screen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.example.marco.appestudante.NotificationPublisher"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".Definicoes"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".adicionarDisciplina"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".verDisciplinas"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".adicionarEvento"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".verCreditos"
            android:parentActivityName=".Definicoes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".verEventos"
            android:parentActivityName=".verDisciplinas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".verNotas"
            android:parentActivityName=".verEventos"
            android:screenOrientation="portrait" />
    </application>

</manifest>